*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Gotham Bold', 'Gotham Light';
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('./gotham/gotham/Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Light';
  src: url('./gotham/gotham/Gotham-Light.otf') format('opentype');
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main {
  border: 1px solid red;
} */

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px 0;
}

.why {
  color: rgba(62, 67, 123, 1);
}

.images-container{
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  /* border: 1px solid blue; */
}

.images-container img {
  width: 500px;
  height: 280px;
  border-radius: 10px;
  @media screen and (max-width: 425px) {
    width: 340px;
    height: 240px;
  }
}

.images-container .imageDiv{
  position: relative;
  overflow: hidden; 
}

.imageDiv .bottomTitle {
  display: none;
  position: absolute;
  bottom: 15px;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.imageDiv:not(:hover) .bottomTitle {
  display: block; 
}

.imageDiv .overlay{
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 0;
  height: 0;
  background-color: rgba(62, 67, 123,0.7);
  transition: all 0.2s ease-out;
}

.imageDiv:hover .overlay{
  width: 100%;
  height: 90%;
}

.overlay-text {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  height: 90%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.imageDiv .overlay-text h2{
  color: #ffffff;
  display: none;
  text-align: center;
  font-size: 25px;
}

.imageDiv:hover .overlay-text h2{
  display: block;
}

.imageDiv .overlay-text h3{
  color: #ffffff;
  display: none;
  text-align: center;
  font-size: 15px;
  margin-inline: 8px;
  font-weight: 50;
  font-family: 'Gotham Light';
}

.imageDiv:hover .overlay-text h3{
  display: block;
}









